/* Google Fonts Link */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Quicksand:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************
  General Style Start
*************************/

body{
  font-family: 'Open Sans', sans-serif;
}

ul li{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

/************************
    General Style End
*************************/

/************************
    Global Style Start
*************************/

.global__btn{
  background: #1BBF00;
  border-radius: 100px;
  font-weight: 600;
  font-size: 18px;
  line-height: 200%;
  text-transform: capitalize;
  color: #FFFFFF;
  padding: 14px 28px;
  border: 2px solid transparent;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  display: inline-block;
}

.global__btn:hover{
  border: 2px solid #1BBF00;
  color: #fff;
  background: transparent;
}

/************************
    Global Style End
*************************/

/************************
    Navbar Start
*************************/

.navbar{
  background: rgba(22, 12, 109, 0.7);
  width: 100%;
  position: absolute;
  z-index: 98;
}

.nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #EFF4FA;
}

.nav-item {
  padding: 0 20px;
  position: relative;
}

.nav-link:hover,.nav-link:focus{
  color: #1BBF00;
}

.nav__icon{
  padding-left: 7px;
}

/* Dropdown */

.nav-item:hover .nav__dropdown {
  transform: rotatex(0deg);
  -webkit-transform: rotatex(0deg);
  -moz-transform: rotatex(0deg);
  -ms-transform: rotatex(0deg);
  -o-transform: rotatex(0deg);
}

.nav__dropdown {
  position: absolute;
  transition: .4s;
  transform: rotatex(90deg);
  transform-origin: top;
  top: 64px;
}

.nav__dropdown_list {
  padding-left: 0px;
  background: #fff;
  width: 171px;
}

.nav__dropdown_item {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #1BBF00;
}

.nav__dropdown_item {
  border-bottom: 1px solid #000;
  padding: 10px 19px;
}
.nav__dropdown_item:last-child {
  border-bottom: 0px solid #000;
}

/************************
    Navbar End
*************************/

/************************
    Banner Start
*************************/

.banner{
 position: relative;
  background: url("../img/banner.png") no-repeat center ;
  background-size: cover;
}

.banner__overlay{
  padding-top: 246px;
  background: rgba(106, 98, 197, 0.8);
  padding-bottom: 253px;
}

.banner__details{
  text-align: center;
}

.banner__title {
  font-weight: 700;
  font-size: 84px;
  line-height: 100px;
  text-align: center;
  text-transform: capitalize;
  color: #FAFAFE;
  max-width: 962px;
  margin: 0 auto;
}

.banner__p{
font-weight: 500;
font-size: 24px;
line-height: 40px;
color: #E6E5F3;
max-width: 715px;
margin: 0 auto;
}

.banner__btns{
  margin-top: 56px;
}

.banner__dotImg {
  position: absolute;
  right: 310px;
  bottom: 75px;
}

.banner__shape {
  position: absolute;
}

.banner__shape {
  position: absolute;
  left: 31px;
}

.global__btn-ml {
  margin-right: 30px;
}

/************************
    Banner End
*************************/

/************************
    Project Start
*************************/

.projects {
  margin-top: -100px;
  padding-bottom: 100px;
  background: url("../img/project-banner.png") no-repeat;
  background-position: top right;
  background-size: 257px;
}

.project__img {
  display: block;
  width: 100%;
  border-radius: 20px;
}

.project__details {
  text-align: center;
  border-right: 2px solid rgba(79, 88, 95, 0.2);
  margin-top: 105px;
}

.project__details-b0 {
  border: 0;
}

.project__h2 {
  font-weight: 800;
  font-size: 64px;
  line-height: 68px;
  color: #1BBF00;
}

.project__h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: #141135;
}

/************************
    Project End
*************************/

/************************
    Choose Us Start
*************************/

.choose{
  padding: 100px 0;
  background: url("../img/choose-banner.png") no-repeat;
}

.choose__item {
  background: #fff;
  display: flex;
  max-width: 568px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  margin-bottom: 15px;
  padding: 42px 0;
  padding-left: 26px;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.choose__item:hover{
  box-shadow: 10px 30px 60px rgba(162, 169, 192, 0.15);
}

.choose__details {
  padding-top: 40px;
}

.choose__btns {
  position: relative;
  display: flex;
  margin-right: 37px;
}

.choose__btn {
  background: green;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
}

.choose__btn.choose__btn-off {
  background: #ddd;
  position: absolute;
  left: 50%;
}

.choose__p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #726E9E;
  max-width: 362px;
}

.choose__h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #141135;
  margin-bottom: 24px;
}

.choose__P-w {
  max-width: 402px;
  margin-bottom: 56px;
}

.global__btn-p {
  padding: 20px 40px;
}

.global__btn-p:hover{
  color: #1BBF00;
}

/************************
    Choose us End
*************************/

/************************
    We do Start
*************************/
.we_do{
  padding: 100px 0;
  background: #F6F5FF;
}

.we_do__h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #141135;
  margin-bottom: 20px;
}

.we_do__para {
  letter-spacing: 0.5px;
  color: #6C7D93;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  max-width: 350px;
  margin-bottom: 56px;
}

.we_do__box {
  max-width: 410px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 30px 60px rgba(162, 169, 192, 0.15);
  border-radius: 20px;
  padding: 48px 52px;
  margin-bottom: 31px;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.we_do__h3 {
  color: #141135;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.we_do__p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #726E9E;
  margin-bottom: 20px;
}

.we_do__btn {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #141135;
  position: relative;
  padding: 0 10px;
}

.we_do__btn:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 100%;
  right: 0;
  background: #1BBF00;
  opacity: 0.3;
  border-radius: 0px 100px 100px 0px;
  top: 51%;
  transform: translateY(-50%);
}

.we_do__box:hover {
  background: #6B62C5;
}

.we_do__box:hover .we_do__h3{
  color: #FAFAFE;
}

.we_do__box:hover .we_do__p{
  color: #E6E5F3;
}

.we_do__box:hover .we_do__btn{
  color: #F4F4F5;
}

.we_do__box:hover .we_do__btn::before{
  background: #FFFFFF;
  opacity: 0.3;
}

/************************
    We do End
*************************/

/************************
   Impact Start
*************************/

.impact{
  padding: 100px 0;
  background: url("../img/impact-bg.png") no-repeat bottom right;
}

.impact__title{
  text-align: center;
  margin-bottom: 75px;
}

.impact__h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
}

.impact__para {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  max-width: 558px;
  margin: 0 auto;
  margin-top: 23px;
}

.impact__item {
  display: flex;
  gap: 35px;
  margin-bottom: 40px;
}

.impact__h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
}

.impact__p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  max-width: 343px;
}

.impact__img_box {
  position: relative;
}

.impact__img_3 {
  position: absolute;
  left: 159px;
  bottom: -143px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.impact__img_2 {
  position: absolute;
  right: 87px;
  top: -34px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.impact__img_dot {
  position: absolute;
  top: 89px;
  right: 93px;
}

/************************
   Impact End
*************************/

/************************
   Plan Start
*************************/

.plan{
  background: #F9F9FB;
  padding: 100px 0;
}

.plan__h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  margin-bottom: 64px;
}

.plan__box{
  background: #FFFFFF;
  box-shadow: 0px 30px 60px rgba(162, 169, 192, 0.15);
  border-radius: 20px;
  text-align: center;
  padding: 60px 0;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
}

.plan__img_box {
  background: rgba(236, 237, 240, 0.5);
}

.plan__img_pd{
  padding: 33px 0;
}

.plan__h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #141135;
  margin-bottom: 20px;
}

.plan__price {
  font-weight: 800;
  font-size: 48px;
  line-height: 50px;
  color: #1BBF00;
  font-family: 'Nunito';
  margin-top: 20px;
}

.plan__dollar {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 25px;
}

.plan__p {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #726E9E;
  max-width: 227px;
  margin: 0 auto;
}

.plan__box:hover{
  background: #6B62C5;
}

.plan__box:hover .plan__p{
  color: #fff;
}

.plan__box:hover .plan__h3{
  color: #fff;
}
.plan__box:hover .plan__img_box{
  background: rgba(255, 255, 255, 0.2);
}

/************************
   Plan End
*************************/

/************************
   Client Start
*************************/
.client{
  padding: 100px 0;
  background: #F8F8FF;
}

.client__h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #141135;
  text-align: center;
}

.client__item {
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
  background: #FFFFFF;
  box-shadow: -15px 30px 50px rgba(171, 175, 199, 0.301961);
  border-radius: 20px;
  padding-bottom: 56px;
  margin-top: 152px;
}

.client__img {
  border-radius: 50%;
  margin-top: -82px;
  margin-bottom: 46px;
}

.client__P {
  max-width: 704px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #726E9E;
  margin-bottom: 48px;
}

.client__name {
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  color: #221A2C;
}

.client__designation {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #726E9E;
}

.client__icon {
  color: #FF7628;
  margin-bottom: 33px;
}

.client__icn {
  background: #1BBF00;
  font-size: 42px !important;
  color: #fff;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  line-height: 64px;
}

.carousel-control-next, .carousel-control-prev {
  justify-content: flex-start;
}

.carousel-control-prev {
  justify-content: flex-end;
}

/************************
   Client End
*************************/

/************************
   Blog Start
*************************/

.blog {
  background: #F9F9FB url("../img/blog-bg.png") no-repeat bottom left;
  background-size: 260px;
  padding: 100px 0;
}

.blog__img_item{
  margin-bottom: 60px;
}

.blog__posts {
  margin-bottom: 80px;
}

.blog__h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: -2px;
  color: #030314;
  margin-bottom: 44px;
}

.blog__img {
  border-radius: 24px;
}

.blog__cat {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #726E9E;
  font-family: 'Quicksand';
  margin-right: 30px;
}

.blog__by , .blog__posted {
  margin-right: 10px;
}

.blog__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 55px;
  letter-spacing: -1.5px;
  color: #141135;
  margin: 20px 0;
  max-width: 533px;
}

.blog__cat:hover {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -1px;
  color: #1BBF00;
}

.blog__btn{
  padding-left: 0;
}

/************************
   Blog End
*************************/

/************************
   Footer Start
*************************/

.footer {
  background: #48409C;
  padding-top: 140px;
  padding-bottom: 57px;
}

.footer__p {
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  text-transform: capitalize;
  color: rgba(254, 254, 254, 0.9);
  max-width: 449px;
  margin-top: 45px;
}

.footer__h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-transform: capitalize;
  color: #FEFEFE;
  margin-bottom: 48px;
}

.footer__list {
  padding-left: 0;
}

.footer__item {
  margin-bottom: 30px;
}

.footer__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
  color: #FEFEFE;
  font-family: 'Nunito';
}

.footer__copyright , .footer__prvicy ,.footer__terms {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  text-transform: capitalize;
  color: rgba(254, 254, 254, 0.9);
  margin-top: 80px;
}

a.footer__link:hover {
  color:#1BBF00;
}
/************************
   Footer End
*************************/
